h1{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	font-weight: normal;
	position: relative;
}

.ticketsAmount{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	top: -10px;
}

.message{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	height: 50px;
}

.input{
	height: 50px;
}

#div1{
	background: red;
	margin-top: 100px;
	width: 300px;
	height: 300px;
}

.messageWrapper{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
}

.mess{
	position: relative;
	text-indent: 10px;
	border-top:1px solid #ededed;
	opacity: 1;
}

.but-add, .but-del{
	width: 50px;
	height: 50px;
	top: 0;
	font-size: 23px;
	padding-top: 7px;
	padding-left: 3px;
	cursor: pointer;
	position: absolute;
	right: 0;
}

.but-add{
	color: #6b6b6b;
	-webkit-transition: color 0.3s ease-out 0s;
	-moz-transition: color 0.3s ease-out 0s;
	-o-transition: color 0.3s ease-out 0s;
	transition: color 0.3s ease-out 0s;
}

.but-add:hover{
	color: #000;
}

.but-del{
	color: red;
	opacity: 0.4;
	-webkit-transition: opacity 0.3s ease-out 0s;
	-moz-transition: opacity 0.3s ease-out 0s;
	-o-transition: opacity 0.3s ease-out 0s;
	transition: opacity 0.3s ease-out 0s;
}

.but-del:hover{
	opacity: 1;
}

.but-check{
	color: #4eff00;
	float: left;
	font-size: 23px;
	margin-top: 10px;
	cursor: pointer;
	opacity: 0.4;
	-webkit-transition: opacity 0.3s ease-out 0s;
	-moz-transition: opacity 0.3s ease-out 0s;
	-o-transition: opacity 0.3s ease-out 0s;
	transition: opacity 0.3s ease-out 0s;

}

.but-check:hover{
	opacity: 1;
}



